<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Trace Issues</title>
    <link rel="stylesheet" href={% static "css/bootstrap.css" %}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron">
        <center>
            <h1>Git Issue Tracker</h1>
            <p>This app tracks the issue of public git repositories. You just need to enter a valid url to a public git repo. </p>
        </center>
    </div>
    <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form class="form-horizontal" action="." method="POST">
                        <div class="form-group">
                            <input class="form-control input-lg" id="inputLarge" type="url" name="address" placeholder="Enter the repo url">
                        </div>
                        <div class="col-md-6 col-md-offset-4">
                            <button type="submit" class="btn btn-lg btn-primary col-lg-9">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <br>
    <br>
    <div class = "container">
    {% if total_issues %}
        <div class="container">
            <table class="table">
            <thead>
              <tr>
                <th>Issues</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Total number of open issues</td>
                <td>{{ total_issues }}</td>
              </tr>
              <tr>
                <td>Number of open issues that were opened in the last 24 hours</td>
                <td>{{ lastday_issues }}</td>
              </tr>
              <tr>
                <td>Number of open issues that were opened more than 24 hours ago but less than 7 days ago</td>
                <td>{{ lastweek_issues }}</td>
              </tr>
              <tr>
                  <td>Number of open issues that were opened more than 7 days ago </td>
                  <td>{{ before_week }}</td>
              </tr>
            </tbody>
          </table>
        </div>
    {% elif error %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Error Occured</h3>
            </div>
            <div class="panel-body">
                {{ error }}
            </div>
        </div>
    {% endif %}
    </div>
</body>
</html>